<!-- subscription_form.html -->
{% extends 'base.html' %}

{% block title %}
<link rel="icon" type="image/x-icon" href="data:image/x-icon;,">

  {% if form.instance.pk %}
    Edit Subscription
  {% else %}
    Create Subscription
  {% endif %}
{% endblock %}

{% block content %}
  <h2>{% if form.instance.pk %}Edit Subscription{% else %}Create Subscription{% endif %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'subscription_list' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
